*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    border: 1px solid black
}


header{                                                           /*HEADER START*/
    background-color:rgba(180, 208, 231, 1) ;
}

/* NAVBAR START*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    background-color: rgba(255, 255, 255, 1);
}

.lista1{
    display: flex;
    align-items: center;
    gap: 20px;
}

.lista2{
    display: flex;
    align-items: center;
    gap: 20px;
}

.lista1 li,.lista2 li{
    list-style-type: none;
}

.lista1 ul,.lista2 ul{
 gap:20px;
}
 /* NAVBAR END */

 .header-container{
    max-width: 1300px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .titolo{
    width: 500px;
    height: auto;
    margin-bottom: 40px;
    background-color: lightcoral;

 }

 .hero{
    display: flex;
    width: 100%;  
 }

 .pink{
    flex-grow: 1;
    height: 400px;
    background-color: lightpink;
 }
 .blue{
    flex-grow: 1;
    height: 400px;
    background-color: lightskyblue;
 }                                                                  /* HEADER END */               



                                                                   /*MAIN START*/
.main-container1,.main-container2,.main-container3,.main-container4,.main-container6,.main-container7{
 max-width: 1200px;
 margin-left: auto;
 margin-right: auto;

}
 
main section{
    height: 600px;
}


.main-container1{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.columns{
    display: flex;
    gap:20px;
}
.column1,.column2,.column3{
    background-color: lightpink;
}

.row{
    background-color: lightpink;  
}

.main-container2{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box1{
    height: 400px;
    flex-grow: 1;
   background-color: pink; 
}

.box2{
    height:400px ;
    flex-grow: 1;
    background-color: lightskyblue;
}

.main-container3{
    margin-top: 100px;
    
}

.B-container{
margin-top: 20px;
background-color: aquamarine;
display: flex;
flex-wrap: wrap;   
}

.b{
    height: 200px;
    width: calc(100% /3);
    background-color: lightblue;
} 







                                                                /* MAIN END*/







                                                          