*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    border: 1px solid black
}

 /*HEADER START*/
header{                                                          
    background-color:rgba(180, 208, 231, 1) ;
}

/* NAVBAR START*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    background-color: rgba(255, 255, 255, 1);
}

.lista1{
    display: flex;
    align-items: center;
    gap: 20px;
}

.lista2{
    display: flex;
    align-items: center;
    gap: 20px;
}
.lista2 button{
    padding: 5px 10px;
    background-color: rgba(0, 97, 255, 1);
    color: white;
}

.lista1 li,.lista2 li{
    list-style-type: none;
}

.lista1 a,.lista2 a{
    text-decoration: none;
    color: black;
}

.lista1 ul,.lista2 ul{
 gap:20px;
}
 /* NAVBAR END */

 .header-container{
    max-width: 1200px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
   /* align-items: center;*/
 }

 .titolo{
    width: 100%;
    height: auto;
    margin-top: 50px;
    font-size: 46px;
 }

 .hero{
    position: relative;
    top:120px;
    display: flex;
    width: 100%;  
 }

 .pink{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:40px;
 }
 .pink button{
    padding: 10px 10px;
    background-color: rgba(0, 97, 255, 1);
    color: white;
 }

 .pink i{
    margin-top: 40px;
    font-size: 40px;
 }

 .blue{
    width: 70%;
 } 
 
 .blue img{
    width: 100%;
 }

 /* HEADER END */ 


/*MAIN START*/
.main-container1,.main-container2,.main-container3,.main-container4,.main-container6,.main-container7{
 max-width: 1000px;
 margin-left: auto;
 margin-right: auto;

}
 
main section{
    height:auto;
}


.main-container1{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.sottotitolo1{
    font-size: 30px;
}



.columns{
    display: flex;
    gap:40px;
}
.column1 strong,.column2 strong,.column3  strong{
   font-size: 20px; 
   background-color: blueviolet;
}


.column1 .icon,.column2 .icon,.column3 .icon{
 margin-bottom: 10px;
 display: flex;
 gap:5px;
}

.column1,.column2,.column3{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: flex-start;
    padding: 20px;
}

.column1 button,.column2 button,.column3 button{
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color:rgba(0, 97, 255, 1); ;
    color: white;
}

.column1 .fa-check,.column2 .fa-check,.column3 .fa-check{
    color: blue;
    font-weight: bold;
}




.row{
    background-color: lightpink;  
}

.main-container2{
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box1{
    height: 400px;
    flex-grow: 1;
   background-color: pink; 
}

.box2{
    height:400px ;
    flex-grow: 1;
    background-color: lightskyblue;
}

.main-container3{
    margin-top: 100px;
    
}

.B-container{
margin-top: 20px;
background-color: aquamarine;
display: flex;
flex-wrap: wrap;   
}

.b{
    height: 200px;
    width: calc(100% /3);
    background-color: lightblue;
    padding: 20px;
} 

.main-container4{
    margin-top: 100px;
    background-color:lightpink;
    height: 400px;
}

.sezione5{
    display: flex;
}

 .div1,.div2,.div3{
    width:calc(100vw / 3);
    height:calc(100vh / 3);
}

.div1,.div3{
    display: flex;
    flex-wrap: wrap;
}

.div2{
    overflow:scroll;
}

.div1 div{
    width:calc(100% /2);
}
.div1 img{
    width: 100%;
    height: 100%;
}

.div3 img{
    width: 100%;
    height: 100%;
}
.div1 div:nth-child(odd){
    background-color: lightpink;
}
.div1 div:nth-child(even){
    background-color: lightskyblue;
}


.div3 div{
    width:calc(100% /2);
}

.div3 div:nth-child(odd){
    background-color: lightpink;
}
.div3 div:nth-child(even){
    background-color: lightskyblue;
}



.sezione6{
    height: 400px;
    background-color:rgba(180, 208, 231, 1) ;
}

.main-container6{
    display: flex;
    height: 100%;
}
.B1{
    flex-grow: 1;
}
.B2{
    flex-grow: 1;
}

.main-container7{
    margin-top: 200px;
    background-color: lightskyblue;
    height: 400px;
}


/* MAIN END*/

/*FOOTER START*/
footer{
    height:600px;
    background-color: black;
}

footer *{
 border: 1px white solid;
 color: white;
}

.footer-container{
    margin-top: 100px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.footer-container .info{
    display: flex;
}

.info div{
    flex-grow: 1;
    height: 400px;
}

/*FOOTER END*/





                                                          